<% content_for :title, "Contact" %>

<div>
    <h1 class="font-bold text-4xl">Contact</h1>
    <p class="font-mono text-2xl mt-4">
        Contact the Ruby on Rails Tutorial about the Social Media App at the 
        <%= link_to "contact page", "https://www.railstutorial.org/contact", class: "link link-hover text-red-500", target: "_blank", rel: "noopener" %>.
    </p>
</div>