<% content_for :title, "Social Media App - Home page" %>
<div>
  <h1 class="font-bold text-4xl">Socmed Homepage</h1>
  <p class="font-bold text-2xl mt-4">
    This is the home page for the
    <a href="https://www.railstutorial.org">Ruby on Rails Tutorial</a>
    sample application.
  </p>
  
</div>
